@media(max-width: 1100px) {

    .cabecalho,
    .menu-usuario,
    .titulo p,
    .exemplo-quizz,
    .container-quizzes {
        width: 100%;
    }

    .exemplo-quizz img {
        height: 181px;
    }

    .titulo {
        margin-left: 18px;
    }

    .exemplo-quizz {
        margin-left: 15px;
        margin-right: 15px;
    }

    .exemplo-quizz p {
        color: #FFFFFF;

        margin-bottom: 10px;

        font-size: 19px;
        font-weight: 400;
    }

    .menu-usuario {
        margin-right: auto;
        margin-left: auto;

        width: 95vw;
    }

    /********** Formatação da tela 3.1 --> Comece pelo Começo **********/

    .formulario-usuario, .formulario-usuario input, .titulo-tela3{
        width: 100%;
    }

    .formulario-usuario{
        padding-right: 20px;
        padding-left: 20px;
    }

    /********** Formatação da tela 3.2 --> Crie suas perguntas **********/
}