/********** Formatações padrões **********/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********** Formatação do cabeçalho **********/

.cabeçalho {
    background-color: #EC362D;

    width: 100%;
    height: 69px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

/********** Formatação do container **********/

/*Formatação do perguntas Quiz --> A caixinha de criar os quizes*/

.menu-usuario {
    margin: 85px auto;

    height: 181px;
    width: 1051px;

    border-radius: 5px;
    border: 1px dashed #D4D4D4;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.paragrafo-perguntas {
    height: 107px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 20px;

    color: #B9B9B9;
}

.botao-criar-quiz {
    background-color: #FAFAFA;

    height: 40px;
    width: 151px;

    margin-bottom: 33px;

    border-radius: 50px;
    border: 1px dashed #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
}

/*Formatação dos quizes --> Os quizes do container*/

/*Formatação do título*/
.titulo p {
    color: #000000;

    width: 1051px;

    margin-top: 77px;
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;

    font-size: 20px;
    font-weight: 700;
}

/*Formatação dos quizes*/
.container-quizzes {

    width: 1051px;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.exemplo-quizz {
    width: 340px;
    height: 181px;

    position: relative;

    margin: 0px auto 14px auto;
}

.exemplo-quizz img {
    position: absolute;
    width: 100%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.exemplo-quizz p {
    color: #FFFFFF;

    position: absolute;
    bottom: 10px;
    left: 7px;

    font-size: 19px;
    font-weight: 400;
}

/********** Formatação da tela 3.1 --> Comece pelo Começo **********/

.titulo-tela3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto auto auto;
    width: 100%;
}

.paragrafo-comeco {
    color: #000000;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: auto;
}

.formulario-usuario {
    height: 256px;
    width: 600px;
    left: 420px;
    top: 194px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    margin-top: 27px;
}

.formulario-usuario input {
    height: 46px;
    width: 564px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;

    color: #BABABA;
}

.botao-tela3 {
    height: 54px;
    width: 367px;
    border-radius: 15px;
    border: 1px solid #EC362D;
    margin-top: 60px;
    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}

/********** Formatação da tela 3.2 --> Crie suas perguntas **********/

.formulario-perguntas{
    width: 600px;
    height: 825px;
    margin-top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-tela32 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto auto auto;
    width: 100%;
}

.titulo{
    margin-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
}

.formulario-perguntas input {
    height: 46px;
    width: 564px;
    margin-left: 17px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;

    color: #BABABA;
}

/********** Formatação da tela 3.3 --> Agora, decida os níveis **********/

.formulario-nivel{
    width: 600px;
    height: 316px;
    margin: 43px auto 75px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formulario-nivel input{
    height: 46px;
    width: 564px;
    margin-left: 17px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;

    color: #BABABA;
}

/********** Formatação da tela 3.4 --> Seu quizz está pronto! **********/
.botao-retornar{
    margin-top: 10px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #818181;
}